.user_profile .header {
    background: #00a6d6;
    color:#fff;
    padding:20px;
    min-height: 280px;
}
.user_profile .header .header-content {
    display: block;
    width: 80%;
    margin:0 auto;
}
.user_profile .header .name ,
.user_profile .header .picture {
    text-align: center;
    margin-bottom: 20px;    
}

.user_profile .header .name {
    font-size: 1.6em;
}

.user_profile .header .picture {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    
    margin: 0 auto;
}
.user_profile .header .info {
    padding:20px;
    text-align: center;
}

.claims ion-list-header{
    background: #efefef;
    color: #333;
}
.claims .empty {
    text-align: center;
    padding:40px;
    color:#666;
    line-height: 20px;
}