
<ion-navbar *navbar primary>
  <ion-title></ion-title>
</ion-navbar>

<ion-content class="user_profile">
    <div class="header">
        <div class="header-content">
          <div class="name">{{user.fullName()}}</div>
          <div class="picture">
            <img *ngIf="!user.picture" src="img/profile-default2.png">
            <img width="150" height="150" id="picture" src="{{user.picture}}" *ngIf="user.picture" >
          </div>
          <div class="info">
            <span>{{user.country}}</span> - <span>{{user.company}}</span> <br />
            <span>
              <strong>{{user.email}}</strong>
            </span>
          </div>
        </div>
    </div>
    <ion-list class="claims">
      <ion-list-header>
        Claims
      </ion-list-header>
			
			<div class="empty" padding *ngIf="user.claims.length == 0">
				<ion-icon ios="ios-planet-outline" md="md-planet"></ion-icon> 
			</div>
			
			<!-- User's claims list -->
			<claim-card [claim]="claim" (whoLiked)="showLikeList($event)"  (like)="like($event)"  *ngFor="#claim of user.claims | orderBy : '-id'"></claim-card>
    </ion-list>
</ion-content>
