<ion-navbar *navbar  primary>
  <ion-title>{{ 'Participar' | translate }}</ion-title>
  <ion-buttons end>
    <button [disabled]="!claim.text" (click)="addClaim()">
      <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> OK
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="page1">
	<form (ngSubmit)="addClaim()" #addClaimForm="ngForm">

			<ion-item>
			  <ion-label floating>{{ 'Escribe un nuevo eslogan...' | translate}}</ion-label>
			  <ion-textarea [(ngModel)]="claim.text" rows="10"></ion-textarea>
			</ion-item>

	</form>

	<div class="buttons_claims">
		<button (click)="showClaimsPage()" block flu-green >{{ 'Eslóganes' | translate}}</button>
		<button (click)="showTop5Page()" block flu-green >{{ 'Top 5' | translate }}</button>
	</div>
	<ul class="flex-container">
		<li (click)="showBases()" class="flex-item min">
		  {{ 'Bases del concurso' | translate}}
	  </li>
	  <li (click)="showLegal()" class="flex-item min">
	  	{{ 'Aviso legal' | translate}}
	  </li>
	</ul>

</ion-content>
