<ion-navbar  hide-tabs flu-green>
  <ion-title>
    {{ 'Actividad' | translate }}
  </ion-title>
</ion-navbar>

<ion-content>
    <claim-card (openProfile)="viewProfile($event)" [claim]="claim" [options]="false"></claim-card>
    <ion-list  no-lines>
        <ion-list-header>
            <span *ngIf="users.length > 0">{{claim.likes}} likes</span>
        </ion-list-header>
        
        <user-item [user]="user" (openProfile)="viewProfile($event)" *ngFor="#user of users"></user-item>
        
    </ion-list>
</ion-content>	