<ion-navbar *navbar flu-yellow>
  <ion-title>
		{{ 'Aviso legal' | translate }}
  </ion-title>
</ion-navbar>

<ion-content padding class="bases">
	<h2>{{ '_TITLE1' | translate }}</h2>
	
	<p>{{ '_AVIS1' | translate }}</p>
	
	<h3>{{ '_TITLE2' | translate }}</h3>
	
	<p>{{ '_AVIS2' | translate }}</p>
	<p>{{ '_AVIS2.1' | translate }}</p>
	<p>{{ '_AVIS2.2' | translate }}</p>
	<p>{{ '_AVIS2.3' | translate }}</p>
	
	<h5>{{ '_SUBTITOL1' | translate }}</h5>
	
	<p>{{ '_AVIS3' | translate }}</p>
	<p>{{ '_AVIS3.1' | translate }}</p>
	
	<h5>{{ '_SUBTITOL2' | translate }}</h5>
	
	<p>{{ '_AVIS4' | translate }}</p>
	<p>{{ '_AVIS4.1' | translate }}</p>
	<p>{{ '_AVIS4.2' | translate }}</p>
	<p>{{ '_AVIS4.3' | translate }}</p>
	<p>{{ '_AVIS4.4' | translate }}</p>
	<p>{{ '_AVIS4.5' | translate }}</p>
	<p>{{ '_AVIS4.6' | translate }}</p>	
	<p>{{ '_AVIS4.7' | translate }}</p>
	<p>{{ '_AVIS4.8' | translate }}</p>
	<p>{{ '_AVIS4.9' | translate }}</p>
	<p>{{ '_AVIS4.10' | translate }}</p>
	<p>{{ '_AVIS4.11' | translate }}</p>
	<p>{{ '_AVIS4.12' | translate }}</p>
	
	<h5>{{ '_SUBTITOL3' | translate }}</h5>
	
	<p>{{ '_AVIS5' | translate }}</p>
	<p>{{ '_AVIS5.1' | translate }}</p>
	<p>{{ '_AVIS5.2' | translate }}</p>
	
	<h5>{{ '_SUBTITOL4' | translate }}</h5>
	
	<p>{{ '_AVIS6' | translate }}</p>
	<p>{{ '_AVIS6.1' | translate }}</p>
	<p>{{ '_AVIS6.2' | translate }}</p>
	
	<h5>{{ '_SUBTITOL5' | translate }}</h5>
	
	<p>{{ '_AVIS7' | translate }}</p>
	<p>{{ '_AVIS7.1' | translate }}</p>
	<p>{{ '_AVIS7.2' | translate }}</p>
	<p>{{ '_AVIS7.3' | translate }}</p>
	<p>{{ '_AVIS7.4' | translate }}</p>
	
	<h5>{{ '_SUBTITOL6' | translate }}</h5>
	
	<p>{{ '_AVIS8' | translate }}</p>
	
	<h5>{{ '_SUBTITOL7' | translate }}</h5>
	
	<h5>{{ '_SUBTITOL8' | translate }}</h5>
	
	<p>{{ '_AVIS9' | translate }}</p>
	
	<h5>{{ '_SUBTITOL9' | translate }}</h5>
	
	<p>{{ '_AVIS10' | translate }}</p>
</ion-content>