<ion-navbar  hide-tabs flu-green>
  <ion-title>
    {{ 'Top 5' | translate }}
  </ion-title>
  <ion-buttons end>
    <button (click)="searchPage()">
      <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<button flu-green (click)="addClaimPage()" fab fab-bottom fab-right fab-fixed>
	<ion-icon ios="ios-add" md="md-add"></ion-icon>
</button>

<ion-content class="ranking">	
	<claim-card [claim]="claim" (whoLiked)="showLikeList($event)"  (openProfile)="viewAuthorProfile($event)" (like)="like($event)"  *ngFor="#claim of top | orderBy : '-likes'"></claim-card>
</ion-content>