<ion-navbar *navbar flu-yellow>
  <ion-title>
    {{ 'Bases del concurso' | translate }}
  </ion-title>
</ion-navbar>

<ion-content padding class="bases">
  <h2>{{ '_TITLE_BASES' | translate }}</h2>
  <p>{{ '_BASES1' | translate}}</p>
  <p>{{ '_BASES2' | translate}}</p>
  <p>{{ '_BASES3'| translate}}</p>
  <p>{{ '_BASES4'| translate}}</p>
  <p>{{ '_BASES5'| translate}}</p>
  <p>{{ '_BASES6' | translate}}</p>
  <p>{{ '_BASES7' | translate}}</p>
  <p>{{ '_BASES8'| translate}}</p>
  <p>{{ '_BASES9' | translate}}</p>
  <p>{{ '_BASES10' | translate}}</p>
  <p>{{ '_BASES10.1' | translate}}</p>
  <p>{{ '_BASES10.2' | translate}}</p>
  <p>{{ '_BASES11' | translate}}</p>
  <p>{{ '_BASES12' | translate}}</p>
  <p>{{ '_BASES13 '| translate}}</p>
  <p>{{ '_BASES14' | translate}}</p>
  <p>{{ '_BASES15' | translate}}</p>
  <p>{{ '_BASES16' | translate}}</p>
  <p>{{ '_BASES17' | translate}}</p>
  <p>{{ '_BASES18' | translate}}</p>
  <p>{{ '_BASES19'| translate}}</p>
  <p>{{ '_BASES20' | translate}}</p>
  <p>{{ '_BASES21' | translate}}</p>
</ion-content>