
<ion-navbar *navbar primary>
  <ion-title>
    {{ 'Mi perfil' | translate }}
  </ion-title>
  <ion-buttons end>
    <button ngDisabled="!currentUser.email || !currentUser.name || !currentUser.company || !currentUser.country" (click)="save()">
      <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon> OK
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="user_profile">
	<div class="header">
			<div class="header-content">
				<div class="name">{{currentUser.name}} {{currentUser.surname}}</div>
				<div class="picture">
					<img (click)="takePicture()" *ngIf="!currentUser.picture" src="img/profile-default.png">
      		<img (click)="takePicture()" width="150" height="150" src="{{currentUser.picture}}" *ngIf="currentUser.picture" >
				</div>
				<div class="info">
					<span>{{currentUser.country}}</span> - <span>{{currentUser.company}}</span> <br />
					<span>
						<strong>{{currentUser.email}}</strong>
					</span>
				</div>
			</div>
	</div>
	
	<form (ngSubmit)="save()" #profileForm="ngForm">
		<ion-list>
			<ion-item>
				<ion-label floating>{{ 'Nombre' | translate}}</ion-label>
    			<ion-input required type="text" [ngFormControl]="name" [(ngModel)]="currentUser.name"></ion-input>
    		</ion-item>
    		<ion-item>
    			<ion-label floating>{{ 'Apellidos' | translate}}</ion-label>
    			<ion-input required type="text" [ngFormControl]="surname" [(ngModel)]="currentUser.surname"></ion-input>
    		</ion-item>
    		<ion-item>
    			<ion-label floating>{{ 'Email' | translate}}</ion-label>
    			<ion-input required type="email" [ngFormControl]="email" [(ngModel)]="currentUser.email" ></ion-input>
    		</ion-item>
    		<ion-item>
    			<ion-label floating>{{ 'Empresa' | translate}}</ion-label>
    			<ion-input type="text"  [ngFormControl]="company" [(ngModel)]="currentUser.company"></ion-input>
    		</ion-item>
				<ion-item>
    			<ion-label floating>{{ 'País' | translate}}</ion-label>
    			<ion-input type="text" [(ngModel)]="currentUser.country"></ion-input>
    		</ion-item>
				<ion-item>
					<ion-label>{{ 'Idioma' | translate}}</ion-label>
					<ion-select [(ngModel)]="currentUser.language">
						<ion-option value="es" checked="true">{{ 'Español' | translate }}</ion-option>
						<ion-option value="en">{{ 'English' | translate}}</ion-option>
						<ion-option value="de">{{ 'Deutsch' | translate}}</ion-option>
						<ion-option value="it">{{ 'Italiano' | translate}}</ion-option>
						<ion-option value="fr">{{ 'Français' | translate}}</ion-option>
					</ion-select>
				</ion-item>
    		<ion-item>
    			<ion-label floating>{{ 'Contraseña' | translate}}</ion-label>
    			<ion-input type="password" [(ngModel)]="currentUser.password"></ion-input>
    		</ion-item>
				<ion-item *ngIf="currentUser.id > 0">
					<button block danger (click)="logout()" >{{ 'Cerrar sesión' | translate}}</button>
				</ion-item>			
		</ion-list>
	</form>
</ion-content>
