<ion-navbar>
    <ion-title>
        {{ 'Usuarios' | translate }}
    </ion-title>
</ion-navbar>

<ion-content>
    <ion-searchbar [(ngModel)]="searchQuery" placeholder="{{ 'Buscar' | translate }}" cancelButtonText="{{ 'Cancelar' | translate}}" (cancel)="resetItems($event)" (input)="getItems($event)"></ion-searchbar>
    <ion-list no-lines>
        <ion-list-header>
            {{items.length}} {{ 'usuarios' | translate }}<span *ngIf="searchQuery">, {{users.length}}  {{ 'encontrados' | translate }}</span>
        </ion-list-header>

        <user-item [user]="user" (openProfile)="viewProfile($event)" *ngFor="#user of users"></user-item>

    </ion-list>
</ion-content>