.dashboard {
	background: #fff;
}

.header-logo {
	text-align:center;
	width: 100%;
	background: #fff;
	padding: 100px;
}


.flex-container {
	display: flex; /* or inline-flex*/
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	padding:0;
	margin:0;
	list-style: none;
	width: 100%;
	background: #efefef;
}


.flex-container li {
	position:relative;
}
.flex-container li .label {
	position: absolute;
    width: 100%;
    font-size: 14px;
    bottom: 105px;
    height: 1px;
    left: 0;
    z-index: 99;
    font-weight: 200;
    font-weight: thin;
}




.flex-item {
	background: #fff;
	padding: 5px;
	/* TODO: IPHONE width: 49.35%;
	TODO: ANDROID width: 49.5%;	 */
	flex: 1 40%;
	height: 150px;
	margin: 1px;
	line-height: 150px;
	color: black;
	border:0px solid #9E9E9E;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.flex-item span {
	line-height: 2px;
}
.flex-header {
	line-height: 190px;
	height: 150px;
}
.flex-2 {
	flex: 2 100%;
}

.flex-item.min {
    height: 65px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 60px;
}

/*
.mini{
	position: relative;
	margin-top: 50px;
	height: 20px;
	border-top: 1px solid #efefef;
	height: 50px;
	line-height: 50px;
	background: #fff;
}

.mini .flex-item {
	position: relative;
	width: 49%;
	margin-top: 50px;
	height: 20px;
	line-height: 20px;	
	font-size: 12px;
	font-weight: normal;
	background: transparent;
	color: #666;
	text-decoration: underline;
}

.mini .flex-item.col1{
	float:left;
}
.mini .flex-item.col2{
	float:right;
}*/