<ion-content no-padding class="dashboard">
	<ul class="flex-container">
	  <li class="flex-item flex-2 flex-header">
		<img src="img/logo.jpg" class="logo" alt="Fluidra" />
	  </li>
	  <li (click)="participar()" class="flex-item">
	  	<ion-icon primary ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
	  	<div primary class="label">{{ 'Participar' | translate }}</div>
	  </li>
	  <li (click)="perfil()" class="flex-item">
	  	<ion-icon primary ios="ios-happy-outline" md="md-happy"></ion-icon>
	  	<div primary class="label">{{ 'Mi perfil' | translate }}</div>
	  </li>
	  <li (click)="claims()" class="flex-item">
	  	<ion-icon flu-green ios="ios-albums" md="md-filing"></ion-icon>
	  	<div primary class="label">{{ 'Eslóganes' | translate }}</div>
	  </li>
	  <li (click)="ranking()" class="flex-item">
	  	<ion-icon flu-green ios="ios-trophy" md="md-trophy"></ion-icon>
	  	<div primary class="label">{{ 'Top 5' | translate }}</div>
	  </li>
		<li (click)="bases()" class="flex-item min">
		  {{ 'Bases del concurso' | translate }}
	  </li>
	  <li (click)="aviso_legal()" class="flex-item min">
	  	{{ 'Aviso legal' | translate }}
	  </li>
	</ul>
</ion-content>