<ion-content no-padding class="pre-auth">

	<ul class="flex-container">
	  <li class="flex-item flex-2 flex-header">
		<img src="img/logo.jpg" alt="Fluidra" />
	  </li>
	</ul>
	<div>
		<div padding></div>
		<div padding>
			<p class="center">
				<center>{{ 'Para poder usar esta app debes introducir el código de autorización.' | translate}}</center>
			</p>
			<ion-item>
				<button clear item-right (click)="checkCode()">OK</button>
				<ion-input placeholder="{{ 'CÓDIGO' | translate }}" type="text" [(ngModel)]="code"></ion-input>
			</ion-item>
			<!--<center>
				<button (click)="scanCode()"><ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>{{ ' Escanear QR' | translate}}</button>
			</center>-->
			
		</div>

		
	</div>

</ion-content>