<ion-navbar flu-green>
  <ion-title (click)="scrollToTop()">
   {{ section | translate }}
  </ion-title>
	<ion-buttons end>
    <button (click)="searchPage()">
      <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>


<button flu-green (click)="addClaimPage()" fab fab-bottom fab-right fab-fixed>
	<ion-icon ios="ios-add" md="md-add"></ion-icon>
</button>


<ion-content class="claims">
	
	

	<ion-refresher (refresh)="doRefresh($event)">
		<ion-refresher-content
				pullingIcon="ios-arrow-round-down"
				pullingText=""
				refreshingSpinner="circles"
				refreshingText="">
		</ion-refresher-content>
	</ion-refresher>
	
	
	
	<div padding>
		<ion-segment flu-green [(ngModel)]="section">
			<ion-segment-button value="Eslóganes">
				<ion-icon ios="ios-book" md="md-book"></ion-icon>
			</ion-segment-button>
			<ion-segment-button value="Top 5">
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
			</ion-segment-button>
			<ion-segment-button value="Míos">
				<ion-icon ios="ios-happy" md="md-happy"></ion-icon>
			</ion-segment-button>
		</ion-segment>
	</div>
	
	
	<div [ngSwitch]="section">

		<div *ngSwitchWhen="'Eslóganes'">
			<claim-card [claim]="claim" (whoLiked)="showLikeList($event)" (openProfile)="viewAuthor($event)" (like)="like($event)"  *ngFor="#claim of claims | orderBy : '-id'"></claim-card>

			<ion-infinite-scroll (infinite)="doInfinite($event)">
				<ion-infinite-scroll-content
					loadingSpinner="circles"
					loadingText="{{ 'Cargando más claims...' | translate }}">
				</ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</div>

		<!-- RANKING CLAIMS -->
		<div *ngSwitchWhen="'Top 5'">
			<claim-card [claim]="claim" (whoLiked)="showLikeList($event)" (openProfile)="viewAuthor($event)" (like)="like($event)"  *ngFor="#claim of top | orderBy : '-likes'"></claim-card>
		</div>
				
		<!-- OWN CLAIMS -->
		<div *ngSwitchWhen="'Míos'">
			<claim-card [claim]="claim" (whoLiked)="showLikeList($event)" (openProfile)="viewAuthor($event)" (like)="like($event)"  *ngFor="#claim of ownclaims | orderBy : '-id'"></claim-card>
		</div>
	</div>


	
</ion-content>

