<ion-content no-padding class="login">

	<ul class="flex-container">
	  <li class="flex-item flex-2 flex-header">
		<img src="img/logo.jpg" alt="Fluidra" />
	  </li>
	</ul>
	<div>
		<div padding></div>
		<div padding>
			<p>
				<center><strong primary>{{ '¡Buscamos un nuevo eslogan para Fluidra!' | translate }}</strong></center>
			</p>
			<p class="center">
				{{ 'Participa en este emocionante concurso proponiendo eslóganes y valorando los de tus compañeros.' | translate }}
				<br /><br />
			{{ 'Entre todos podemos encontrar el mejor eslogan ¿Será el tuyo? Participa.' | translate}}
			</p>
		</div>
		<div padding>
		  <button type="submit" (click)="showSignIn()" block primary >{{ 'Registrarse' | translate }}</button> <button block dark (click)="showLogin()">{{ 'Ya estoy registrado' | translate }}</button>
		</div>
		<div padding center>
			<center><a href="javascript:;" (click)="presentRecoveryPassword()">{{ '¿Olvidaste la contraseña?' | translate }}</a></center>
		</div>

		
	</div>

</ion-content>